*{
  margin: 0;
  padding: 0;
}
#Contact{
  background-color: red;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  width: 100%;
  height: 20%;
  background-image: url("Collection_GoogleFonts_2x1.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

nav{
  width: 100%;
  display: flex;
  justify-content: center;

}

nav a{
  width: 15%;
  height: 30px;
  background-color:#7264d1;
  margin:1em;
  border-radius: 30px;
  color: white;
  text-align: center;
  line-height: 30px;
}
nav a:hover{
  background-color:lightgrey;

}

main{
  width: 100%;
  height: 70%;

  padding-top: 3%;
  font-size: 25px;
}
footer{
  width: 100%;
  height: 10%;
  background-color:#ef4f4f;
  text-align: center;
}
h1{
  font-family: fantasy;
  text-decoration: underline;

}
h2{
  font-family: fantasy;
  font-size: 25px;
}
form{
  margin-left: 40%;
  margin-right: 45%;
  margin-top: 5%;
}
input{
  padding: 8px;
  width: 200px;
}
textarea{
  height: 80px;
  width: 200px;
}
select{
  padding: 8px;
  width: 200px;
}
